@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import 'assets/theme.css';
body {
    font-family: 'Poppins', sans-serif !important;
    background: #e5e5e5 !important;
}

.main {
    margin-left: 280px;
    padding: 0 40px;
}

.sidebar {
    top: 0 !important;
    z-index: 200;
    width: 280px;
    height: 100vh
}

.main-nav {
    height: 80px;
    background: #f5f5f5;
    position: fixed;
    width: 100%;
    z-index: 100;
    padding: 0 60px;
}